* {
	margin: 0;
	padding: 0
	border: 0;
	outline: 0;
	font-family: 'Varela', sans-serif;
	font-family: 'Lato', sans-serif;
}

body, iframe {
	/* bg from http://subtlepatterns.com/ */
	background: url('/img/bg.png');
}

.menu {
	border-top: 0.2rem solid #4A3D34;
	width: 100%;
	height: 4.2rem;
	padding: 0 4rem;
	color: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0 0.1rem 0.3rem #4A3D34;
	background: #403329;
	position: fixed;
	top: 0;
	z-index: 9001;
}

.menu a {
	display: inline-block;

	padding:0rem 2.5rem;
	margin-top: -0.2rem;
	border-top: 0.2rem solid transparent;

	color: #fff;
	text-decoration: none;
	font-size: 1.2em;

	height: 4rem;
	line-height: 4rem;
	vertical-align: middle;

}

.menu a:hover {
	background: #4A3D34;
}

.menu a:active, .menu a.active {
	border-top: 0.2rem solid #E12617;
	background: #4A3D34;
}

.cont {
	margin-right: 2rem;
	margin-left: 4rem;
	margin-top: 6.3rem;
}

.main_left {
	width: 100%;
	display: block;
	float:left;
	vertical-align: top;
	padding-right: 30rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-bottom: 2rem;
}

.main_left > h1:first-child {
	margin-top: 0;
}

.main_right {
	width: 25rem;
	float: right;
	display: block;

	background: url(/img/noname.svg) top center no-repeat;
	background-size: 22em;
	padding-top: 8rem;

	position: absolute;
	top: 6rem;
	right: 2rem;

	position: fixed;
}


h1 {
	font-size: 1.7em;
	margin-top: 1em;
	margin-bottom: 0.3em;
}

p {
	text-align: justify;
	margin: 0.2em 0;
	margin-bottom: 0.6em;
	line-height: 1.3em;
}


.cont a {
	color: rgb(38, 151, 222);
	text-decoration: none;
}

.cont a:hover {
	color: rgb(72, 174, 239);
	text-decoration: underline;
}

.highlight {
	padding: 0.5em;
	font-size: 1.1em;
}

.highlight *, pre {
	font-family: monospace;
}

address {
	white-space: pre;
	margin-top: -1.4rem;
}

#map {
	clear: both;
	height: 400px;
}

.qrcode {
	width: 10em;
	float: right;
	display: inline-block;
	text-align: center;
	margin: 0.7rem;
	margin-top: -2rem;
}

.qrcode img {
	width: 100%;
}


iframe {
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
	padding-top: 4.2rem;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 0;
	z-index: 9000;

}
