<table>
{% for vortrag in vortraege %}
    <tr>
        <th>
        	<a id="c14h_{{vortrag.id | escape }}" class="anchorhack"></a>
        	<a href="#c14h_{{vortrag.id | escap }}">{% if vortrag.date %}{{ vortrag.date | escape }}{% else %}TBA{% endif %}</a>
        </th>
        <th colspan="2">{{ vortrag.topic | escape }}</th>
    </tr>
    <tr><td></td><td class="dim" colspan="2">von {{ vortrag.speaker | escape }}</td></tr>
    <tr>
        <td></td>
        <td class="just" colspan="2">{{ vortrag.abstract | escape | newline_to_br }}</td>
    </tr>
    <tr class="space">
        <td></td>
        <td>
            {% if vortrag.infourl != '' %}
                <a href="{{ vortrag.infourl | escape }}" data-no-turbolink><b>Details / Folien / Aufzeichnung aufrufen</b></a>
            {% endif %}
        </td>
        <td>
        </td>
    </tr>

{% endfor %}
</table>
