<table>
{% for vortrag in vortraege %}
    <tr id="c14h_{{ vortrag.id | escape }}">
        <th>{% if vortrag.date %}{{ vortrag.date | escape }}{% else %}TBA{% endif %}</th>
        <th colspan="2">{{ vortrag.topic | escape }}</th>
    </tr>
    <tr><td></td><td class="dim" colspan="2">von {{ vortrag.speaker | escape }}</td></tr>
    <tr>
        <td></td>
        <td class="just" colspan="2">{{ vortrag.abstract | escape | newline_to_br }}</td>
    </tr>
    <tr class="space">
        <td></td>
        <td>
            {% if vortrag.infourl != '' %}
                <a href="{{ vortrag.infourl | escape }}"><b>Details / Folien aufrufen</b></a>
            {% endif %}
        </td>
        <td>
            <a href="edit_c14.html?id={{ vortrag.id | escape }}">Eintrag bearbeiten</a>
        </td>
    </tr>

{% endfor %}
</table>
