<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title | escape }} – NoName e.V. Heidelberg</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" media="(max-width: 850px)" href="/css/small.css" />
		<link rel="stylesheet" href="/css/leaflet.css">
		<script src="/leaflet/leaflet.js"></script>
		<script src="/js/turbolinks.js"></script>
		<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/img/favicon.ico" />
	</head>
	<body lang="de">

		<div class="site">
			<div class="menu_scroll_wrapper"><div class="menu">
				<a {% if page.url == "/index.html"                    %} class="active" {% endif %} href="/">tl;dr</a>
				<a {% if page.url == "/howtotreff.html"               %} class="active" {% endif %} href="/howtotreff.html">Treff</a>
				<a {% if page.url == "/chaotische_viertelstunde.html" %} class="active" {% endif %} href="/chaotische_viertelstunde.html">c¼h</a>
				<a {% if page.url == "/verein.html"                   %} class="active" {% endif %} href="/verein.html">Verein</a>
				<a {% if page.url == "/kontakt.html"                  %} class="active" {% endif %} href="/kontakt.html">Kontakt</a>
				<a href="https://www.noname-ev.de/w/">Wiki</a>
			</div></div>

			<div class="cont">
