<table>
{% for vortrag in vortraege %}
    <tr>
        <th>
        	<a id="c14h_{{vortrag.id | escape }}" class="anchorhack"></a>
        	<a href="#c14h_{{vortrag.id | escape }}">{% if vortrag.date %}{{ vortrag.date | escape }}{% else %}TBA{% endif %}</a>
        </th>
        <th colspan="2">{{ vortrag.topic | escape }}</th>
    </tr>
    <tr><td></td><td class="dim" colspan="2">von {{ vortrag.speaker | escape }}</td></tr>
    <tr>
        <td></td>
        <td class="just" colspan="2">{{ vortrag.abstract | escape | newline_to_br }}</td>
    </tr>
		{% for link in vortrag.links %}
		<tr colspan="2">
			<td></td>
			<td>
			<a href="{{ link.url | escape }}" data-no-turbolink rel="nofollow"><b>{{ link.kind | escape}}</b></a>
			</td>
			<td>
			</td>
	    </tr>
		{% endfor %}
		<tr class="space" colspan="3">
			<td>
			</td>
		</tr>

{% endfor %}
</table>
