<!DOCTYPE html>
<html lang="{{ page.lang }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title | escape }} – NoName e.V. Heidelberg</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" media="(max-width: 1040px)" href="/css/small.css">
		<link rel="stylesheet" href="/css/leaflet.css">
		<script src="/leaflet/leaflet.js"></script>
		<script src="/js/turbolinks.js"></script>
		<link rel="shortcut icon" href="/img/favicon.ico">
		{% assign base = '' %}
		{% if page.lang != "de" %}
			{% assign base = "/" | append: page.lang | append: "/" %}
		{% endif %}
	</head>
	<body lang="de">

		<div class="site">
			<div class="menu_scroll_wrapper"><div class="menu">
				<a {% if page.url == "{{base}}index.html"                    %} class="active" {% endif %} href="{{base}}index.html">tl;dr</a>
				<a {% if page.url == "{{base}}howtotreff.html"               %} class="active" {% endif %} href="{{base}}howtotreff.html">Treff</a>
				<a {% if page.url == "{{base}}chaotische_viertelstunde.html" %} class="active" {% endif %} href="{{base}}chaotische_viertelstunde.html?latest={{ page.vortraege_latest }}">c¼h</a>
				<a {% if page.url == "{{base}}verein.html"                   %} class="active" {% endif %} href="{{base}}verein.html">Verein</a>
				<a {% if page.url == "{{base}}kontakt.html"                  %} class="active" {% endif %} href="{{base}}kontakt.html">Kontakt</a>
				<a data-no-turbolink href="https://www.noname-ev.de/w/">Wiki</a>
				<a {% if page.url == "{{base}}cryptoparty.html"              %} class="active" {% endif %} href="{{base}}cryptoparty.html">Cryptoparty</a>
				{% if page.lang == "de" %}
					<a href="{{ 'en/' | append: page.url | replace: '//','/' }}" lang="en">English</a>
				{% else %}
					<a href="{{ page.url | replace: 'en/','' }}" lang="de">Deutsch</a>
				{% endif %}
			</div></div>

			<div class="cont">
