<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div class="site">
			<div class="menu">
				<a href="/">tl;dr</a>
				<a href="howtotreff.html">Treff</a>
				<a href="chaotische_viertelstunde.html">c¼h</a>
				<a href="verein.html">Verein</a>
				<a href="kontakt.html">Kontakt</a>
				<a href="/">Wiki</a>


			</div>

			<div class="cont">
				<div class="main_left">
						{{ content }}
				</div>

				<div class="main_right">
					termine und so
				</div>
			</div>
		</div>
	</body>
</html>
