{% include header.html %}

<div class="main_left">
	<h1>{{page.name | escape}}</h1>

	<p><b>{{page.address | escape}}</b>. {{page.address_desc | escape}}</p>
	<p>
		{{page.desc | escape}}
		{% if page.menu_url %}
			<a href="{{page.menu_url | escape}}"><b>Speisekarte anzeigen</b></a>.
		{% endif %}
	</p>

	{{ content }}

	<div id="map"></div>
	<script>
	var map = L.map('map').setView([{{page.map_lat}}, {{page.map_lon}}], {{page.map_zoom}});
	{{site.map_js}}

	L.marker([{{page.lat}}, {{page.lon}}]).addTo(map).bindPopup("<b>{{page.name | escape}}</b>", { "closeButton": false }).openPopup();
	</script>

	<p>
		{% if page.gmaps_url %}
			<a href="{{page.gmaps_url | escape}}">Gaststätte in Google Maps anzeigen</a><br/>
		{% endif %}
		{% if page.phone %}
			<br/>Telefon: <a href="tel://{{page.phone | escape}}">{{page.phone | escape}}</a><br/>
		{% endif %}
		{% if page.site_url %}
			Webseite: <a href="{{page.site_url | escape}}">{{page.site_url | escape}}</a><br/>
		{% endif %}
	</p>
</div>

<div class="main_right">
	{% include stammtisch_liste.md %}
	{% include foto.md %}
</div>

{% include footer.html %}
